<html>
  <head>
    

      
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="robots" content="NONE,NOARCHIVE" />
      

      <title>CBE API</title>

      
        
          <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/bootstrap.min.css"/>
          <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/bootstrap-tweaks.css"/>
        

        <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/prettify.css"/>
        <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/default.css"/>
      

    
  </head>
    <div class="wrapper">
        <div class="navbar navbar-static-top navbar-inverse">
            <div class="container">
                <span><a class="navbar-brand" rel="nofollow" href="https://github.com/Semprini/cbe">CBE </a><a class="navbar-brand"> | </a><a class="navbar-brand" rel="nofollow" href="/api">API</a><a class="navbar-brand"> | </a><a class="navbar-brand" rel="nofollow" href="/admin">Admin</a></span>
                <ul class="nav navbar-nav pull-right">
                      <li><a href='/api-auth/login/?next=/api/'>Log in</a></li>
                </ul>
            </div>
        </div>
    </div>
</html>